*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.grid-container {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
  margin: 0px auto;
}

button {
  font-size: 32pt;
  padding: 16px;
}

.btns {
  width: max-content;
  padding: 10px;
  margin: 0px auto;
}
